* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: arial;
  background-color: oldlace;
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: minmax(15em, 18em) minmax(80%, 100%);
  overflow: hidden;
}

a {
  color: darkcyan;
}

a:visited {
  color: mediumorchid;
}

#global-navigation {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  position: sticky;
  top: 0em;
  
  background-color: tan;
  padding: 1em;
  padding-left: 0em;
  height: 1.37em;
  z-index: 9999;
}

#global-navigation > a {
  text-decoration: none;
  color: #403200;
  font-size: 120%;
  font-weight: bold;

  padding: 0.8em;
}

#global-navigation > a:hover {
  color: black;
  background-color: #c1a97c;
}

#side-nav {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  position: sticky;
  top: 3.2em;  
}

#nav-title {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  position: sticky;
  top: 0em;
  
  text-decoration: none;
  background-color: tan;
  font-size: 130%;
  font-weight: bold;

  padding: 0.88em;
  padding-top: 0.7em;
  padding-left: 1em;
  height: 1em;
  z-index: 9999;
}

#nav-contents {
  height: calc(100vh - 3.2em);
  overflow: scroll;
  overflow-x: hidden;
  position: sticky;
  top: 3.2em;
}

#nav-contents > a {
  display: inline-block;
  width: 100%;
  font-size: 110%;
  background-color: navajowhite;
  text-decoration: none;
  color: #403200;

  padding: 0.3em;
  padding-left: 1em;
}

#nav-contents > a:hover {
  color: black;
  background-color: #c1a97c;
}

#content {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  overflow: scroll;
  overflow-x: hidden;
  
  padding: 0.22em;
  position: sticky;
  top: 3.3em;
  height: calc(100vh - 3.6em);
}

#content > p {
  margin-bottom: 0.7em;
  max-width: 55em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.item-title {
  font-size: 130%;
  padding: 0.2em;
  padding-top: 0.5em;
  padding-left: 0.4em;
  
  color: #261908;
}

.item-title > a {
  text-decoration: none;
}

.item-table-label {
  background-color: burlywood;
  border-color: burlywood;
  border-style: solid;
  border-right-style: none;
  border-width: 1px;
  
  width: 10em;
  padding: 0.3em;
}

.item-details {
  display: block;
  border-collapse: collapse;
}

.item-details td:nth-child(2) {
  border-style: solid;
  border-left-style: none;
  border-color: burlywood;
  border-width: 1px;
  width: 80%;
  max-width: 20em;
  padding-left: 0.2em;
}

.noleftpad {
  padding-left: 0em !important;
}

td ul {
  padding: 0em;
  list-style-type: none;
}

.item-description {
  margin-top: 0.2em;
  width: 82.5%;
  max-width: 55em;
  
  line-height: 120%;
  letter-spacing: 0.04px;
  text-rendering: optimizelegibility;
}

.item-description > p {
  margin-top: 0.7em;
}

.skript-code-block {
  padding: 0.52em;
  font-family: monospace;
  width: 82.5%;
  max-width: 69.6em;
  background-color: gainsboro;
}

.skript-code-block > a {
  text-decoration: none;
}

ul > .skript-code-block {
  width: 98.4%;
}

.item-examples {
  padding-top: 0.5em;
}

.item-examples > .skript-code-block {
  margin-left: 0.15em;
  margin-top: 0.3em;
}

.box {
  border-style: solid;
  border-color: burlywood;
  border-width: 2px;
  border-top-width: 1em;
  border-radius: 3px;
  padding: 0.8em;
  
  background-color: wheat;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 0px minmax(80%, 100%);
  }
  
  #global-navigation {
    height: 4.1em;
    display: flex;
    flex-wrap: wrap;
  }
  #global-navigation > a {
    padding: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  #nav-title {
    display: none;
  }
  #side-nav {
    display: none;
  }
  
  #content {
    top: 5.63em;
  }
}
