name: Java CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Set up JDK 16
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 1.16
    - name: Grant permissions
      run: chmod +x gradlew
    - name: Build Skript-1.8
      run: ./gradlew clean build
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: Skript
        path: build/libs/Skript.jar
